<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Converter</title>
    <link rel="stylesheet" href="../../static/css/sty2e.css" />
  </head>
  <body>
    <h1>Video Converter</h1>
    <div class="container">
      <div class="left-side">
        <form id="uploadForm" enctype="multipart/form-data">
          <label class="upload-box" for="videoInput">
            <div id="dropboxText" style="display: block">Drop or Click to Browse
            </div>
            <div id="uploadStatus" style="display: none">Converting...</div>
            
            <input
              type="file"
              accept="video/*"
              id="videoInput"
              style="display: none"
              name="video"
            />
          </label>
        </form>
      </div>
      <div class="right-side">
        <select id="formatSelect">
          <option value="mp4">MP4</option>
          <option value="avi">AVI</option>
          <option value="mkv">MKV</option>
          <option value="webm">WEBM</option>
          <option value="mov">MOV</option>
          <option value="flv">FLV</option>
          <option value="wmv">WMV</option>
        </select>
        <button id="convertBtn" type="button">
          Convert
        </button>
        <div id = "preview">
          Download Ready </div>
        <button
          id="downloadBtn"  
          style="display: none"
        >
        Download
      </button>
      </div>
    </div>
    <script src="../static/js/scr1pt.js"></script>
  </body>
</html>
