<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Converter</title>
    <link rel="stylesheet" href="../../static/css/sty2e.css" />
  </head>
  <body>
    <h1>Video Converter</h1>
    <div class="container">
      <div class="left-side">
        <label class="upload-box" for="videoInput">
          Drop or Click to Browse
          <div id="uploadStatus" style="display: none">Converting...</div>
          <div class="loading-animation" id="loadingAnimation"></div>
          <input
            type="file"
            accept="video/*"
            id="videoInput"
            style="display: none"
            name = "video"
          />
        </label>
      </div>
      <div class="right-side">
        <select id="formatSelect">
          <option value="mp4">MP4</option>
          <option value="avi">AVI</option>
          <option value="mkv">MKV</option>
          <option value="webm">WEBM</option>
          <option value="mov">MOV</option>
          <option value="flv">FLV</option>
          <option value="wmv">WMV</option>
          <option value="m4v">M4V</option>
          <option value="3GP">3GP</option>
          <option value="ogv">OGV</option>
          <option value="webp">WEBP</option>
          <option value="divx">DIVX</option>
          <option value="ts">TS</option>
          <option value="vob">VOB</option>
          <!-- Add more format options here -->
        </select>
        <button id="convertBtn" onclick="convertVideo()">
          Convert
        </button>
        <video id="preview" controls style="display: none"></video>
        <button
          id="downloadBtn"
          style="display: none"
          onclick="downloadConvertedVideo()"
        >
          Download
        </button>
      </div>
    </div>
    <script src = "../static/js/scr1pt.js">
    </script>
  </body>
</html>
