body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1a1a1a;
  color: #f1f1f1;
}

.container {
  display: flex;
  width: 800px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.left-side {
  flex: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px dashed #555;
}

.upload-box {
	width: 61%;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px dashed #007bff;
	border-radius: 10px;
	cursor: pointer;
	padding: 66px;
	text-align: center;
}

.right-side {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#preview {
  width: 100%;
  max-width: 100%;
  height: auto;
  display:none; 
  text-align: center;
  margin: 10px; 
  /* padding = 10px */
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #f1f1f1;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

video {
  margin: 10px;
}

h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 32px;
  color: #f1f1f1;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  margin: 10px 0;
  display: none; /* Hide the heading by default */
}

form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

@media screen and (min-width: 900px) {
  h1 {
    display: block; /* Show the heading on screens wider than 900px */
  }
}

.loading-animation {
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
