<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image to Image Converter</title>
    <link rel="stylesheet" href="../static/css/sty2e.css" />
  </head>
  <body>
    <h1>Image to Image Converter</h1>
    <div class="container">
      <div class="left-side">
          <label class="upload-box" for="videoInput">
            <div id="dropboxText" style="display: block">Drop or Click to Browse
            </div>
            <div id="attachment" style="display: none"></div>
            <div id="uploadStatus" style="display: none">Converting...</div>
            <div id="loader"></div>
            <input
              type="file"
              accept="image/*"
              id="videoInput"
              style="display: none"
              name="video"
            />
          </label>
      </div>
      <div class="right-side">
        <select id="formatSelect">
          <option value="jpeg">JPEG</option>
          <option value="png">PNG</option>
          <option value="webp">WEBP</option>
        </select>
        <button id="convertBtn" type="button">
          Convert
        </button>
        <div id = "preview">
        </div>
        <button
          id="downloadBtn"  
          style="display: none"
        >
        Download
      </button>
      </div>
    </div>
    <script src="../static/js/scr1pt.js"></script>
  </body>
</html>
