<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/sty1e.css" />
    <title>AIO Converter</title>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <!-- Add your logo here -->
      </div>
      <div class="brand-name">
        <h1>Your Brand Name</h1>
        <p>Some text about your brand</p>
      </div>
    </div>

    <div class="main">
      <h2>Convert your</h2>
      <div class="icon-container">
        <div class="icon">
          <img src="../static/images/video-icon.png" alt="Video" />
          <p>Video</p>
          <div class="hover-options">
            <a href="{{ url_for('video_to_video_converter') }}">Video to Video</a>
            <a href="{{ url_for('video_to_audio_converter') }}">Video to Audio</a>
            <a href="{{ url_for('video_to_gif_converter') }}">Video to GIF</a>
            <a href="{{ url_for('video_to_frames_converter') }}">Video to Frames</a>
          </div>
        </div>
        <div class="icon">
          <a href="{{ url_for('image_to_image_converter')}}"><img src="../static/images/image-icon.png" alt="Image" /></a>
          <p>Image</p>
        </div>
        <div class="icon">
          <a href="{{url_for('video_to_audio_converter')}}"><img src="../static/images/audio-icon.png" alt="Audio" /></a>
          <p>Audio</p>  
        </div>
      </div>
      <h2>or</h2>
      <div class="download-youtube">
        <a href="./yt_downloader.html"><img src="../static/images/youtube-icon.png" alt="Youtube" /></a>
        <p>Download from</p>
        <p>YouTube</p>
        <!-- Add hover options for YouTube download -->
      </div>
    </div>
  </body>
</html>
