<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/sty1e.css">
    <title> AIO Converter</title>
</head>
<body>

<div class="header">
    <div class="logo">
        <!-- Add your logo here -->
    </div>
    <div class="brand-name">
        <h1>Your Brand Name</h1>
        <p>Some text about your brand</p>
    </div>
</div>

<div class="main">
    <h2>Convert your</h2>
    <div class="icon-container">
        <div class="icon">
            <img src="../static/images/video-icon.png" alt="Video">
            <p>Video</p>
            <div class="hover-options">
                <a href="#">Video to Video</a>
                <a href="#">Video to Audio</a>
                <a href="#">Video to GIF</a>
                <a href="#">Video to Frames</a>
            </div>
        </div>
        <div class="icon">
            <img src="../static/images/image-icon.png" alt="Image">
            <p>Image</p>
<!--            <div class="hover-options">-->
<!--                &lt;!&ndash; Add hover options for image &ndash;&gt;-->
<!--            </div>-->
        </div>
        <div class="icon">
            <img src="../static/images/audio-icon.png" alt="Audio">
            <p>Audio</p>
<!--            <div class="hover-options">-->
<!--                &lt;!&ndash; Add hover options for audio &ndash;&gt;-->
<!--            </div>-->
        </div>
    </div>
    <h2>or</h2>
    <div class="download-youtube">
        <img src="../static/images/youtube-icon.png" alt="Youtube">
        <p>Download from</p>
        <p>YouTube</p>
        <!-- Add hover options for YouTube download -->
    </div>
</div>

</body>
</html>
