<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="../static/css/sty3e.css">
</head>
<body>
    <h1>YouTube Downloader</h1>
    <div class="container">
        <div class="input-section">
            <input type="text" id="videoUrlInput" placeholder="Enter YouTube video URL">
            <button id="downloadBtn">Download</button>
        </div>
        <div class="loader" style="display:none"></div>
        <div class="format-section">
            <label for="formatSelect">Select Format:</label>
            <select id="formatSelect">
                <option value="mp4">MP4</option>
                <option value="mp3">MP3</option>
            </select>
        </div>
        <div id="resolution-section">
            <label for="resolutionSelect">Select Resolution:</label>
            <select id="resolutionSelect">
                <option value="1080p">1080p</option>
                <option value="720p" selected>720p</option>
                <option value="480p">480p</option>
            </select>
        </div>

        <div id="bitrate-section" style="display:none">
            <label for="bitrateSelect">Select Bitrate:</label>
            <select id="bitrateSelect">
                <option value="192k" selected>192k</option>
                <option value="256k">256k</option>
                <option value="320k">320k</option>
            </select>
        </div>

        <a href="./yt_bulk_download.html"><button class="bulk-download">Or Bulk Download Here</button></a>
    </div>
    <script src="./static/js/scr2pt.js">
    </script>
</body>
</html>
